{namespace AllAnimationButtonComponent}

/**
* @param legend
*/
{template .render}
	<button onClick="_bindEffect" class="btn btn-accent js-all-animation btn-sm" data-clear="1500" data-effect="dance" type="button">{$legend}</button>
{/template}